<div class="container-fluid">
  <p class="font-weight-light">{{title}} - 2077</p>
  <p class="">{{title}} - 2077</p>
  <p class="font-weight-bold">{{title}} - 2077</p>
</div>

<h1>RETANGLE</h1>
<cyber-retangle side="top-left"></cyber-retangle>
<cyber-retangle side="top-right"></cyber-retangle>
<cyber-retangle side="bot-left"></cyber-retangle>
<cyber-retangle side="bot-right"></cyber-retangle>

<hr><hr>


<h1>SQUARE</h1>
<cyber-square side="top-left"></cyber-square>
<cyber-square side="top-right"></cyber-square>
<cyber-square side="bot-left"></cyber-square>
<cyber-square side="bot-right"></cyber-square>